.post {
	position: relative;

	div {
		margin: auto;
	}

	h1 {
		color: green;
	}
}

.primary-btn {
	padding: 10px 20px;
	background-color: transparent;
	border: none;
	border-radius: 4px;

  &:hover {
    background-color: lightgreen;
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: green;
}
